<div class="body">

<p>
Hello {{ request.Client_Name }},  <br><br>
We just wanted to update you on your service request to Geospatial Services. 
{{ request.Project_Lead }} has been assigned to your request and will be contacting you in the near future. We have included their contact email below.
</p><br> 
<p><a href="mailto:{{ request.Project_Lead_Email }}">{{ request.Project_Lead_Email }}</a></p>

<br><br>
<a href="{{  url  }}">Link to your request</a>.<br><br>


<table border="solid 1.5px black" style="text-align: center; border-collapse: collapse; width:100%">
<tbody>
    <tr>
        <th colspan="2" style="text-align: center; height: 45px; padding: 5px; background: #003366;"><strong><font style="font-size: 1.3rem; color: #ffffff">
        Geospatial Service Request {% if request.Authorization_Type is not none %}- {{ request.Authorization_Type }} Authorizations{% endif %}
        </font></strong></th>
    </tr>
    <tr>
    <th colspan="2" style="text-align: center; height: 8px; background: #FCBA19;"></th>
    </tr>
    <tr>
    <th colspan="2" style="text-align: center; height: 25px; font-size: 0.8rem;">Project Number: {{ request.Project_Number }}</th>
    </tr>

    <tr>
    <td style="text-align: center; height: 28px; font-size: 0.9rem; background: #e3e3e3; width: 50%;"><strong><font color="#003366">Date Requested</font></strong></td>
    <td style="text-align: center; height: 28px; font-size: 0.9rem; background: #e3e3e3; width: 50%;"><strong><font color="#003366">Date Required</font></strong></td>
    </tr>
    <tr>
    <th style="text-align: center; height: 28px; font-size: 0.85rem;">{{ request.Date_Requested }}</th>
    <th style="text-align: center; height: 28px; font-size: 0.85rem;">{{ request.Date_Required }}</th>
    </tr>

    <tr>
    <td colspan="2" style="text-align: center; height: 28px; font-size: 0.9rem; background: #e3e3e3;"><strong><font color="#003366">Description</font></strong></td>
    </tr>
    <tr>
    <th colspan="2" style="text-align: center; height: 28px; font-size: 0.85rem;">{{ request.Project_Description }}</th>
    </tr>
    <tr><th colspan="2"><img src="https://coms.api.gov.bc.ca/api/v1/object/815d36c2-7f0e-4bcb-b41f-a5c77b4498e1" alt="GeoBC"></th></tr>
</tbody>
</table>
</div>