<div class="body">

<p>
Hello {{ request.Client_Name }},  <br><br>
We just wanted to update you on your service request to Geospatial Services. 
{{ request.Project_Lead }} has been assigned to your request and will be contacting you in the near future. We have included their contact email below.
</p>
<p><a style="font-size:20px" href="mailto:{{ request.Project_Lead_Email }}">{{ request.Project_Lead_Email }}</a>
<br>
View Request: <a style="font-size:17px" href="{{  url  }}">{{ request.Project_Number }}</a>.<br><br>
<u>Your request system credentials</u><br>
Username:   {{ request.CLIENT_AGO_ACCOUNT }}<br>
Password:  {{ request.CLIENT_AGO_SECRET }}
</p>
<table border="solid 1.5px black" style="text-align: center; border-collapse: collapse; width:100%">
<tbody>
    <tr>
        <th colspan="2" style="text-align: center; height: 45px; padding: 5px; background: #003366;"><strong><font style="font-size: 1.3rem; color: #ffffff">
        Geospatial Service Request {% if request.Authorization_Type is not none %}- {{ request.Authorization_Type }} Authorizations{% endif %}
        </font></strong></th>
    </tr>
    <tr>
    <th colspan="2" style="text-align: center; height: 8px; background: #FCBA19;"></th>
    </tr>
    <tr>
    <th colspan="2" style="text-align: center; height: 25px; font-size: 0.8rem;">Project Number: {{ request.Project_Number }}</th>
    </tr>

    <tr>
    <td style="text-align: center; height: 28px; font-size: 0.9rem; background: #e3e3e3; width: 50%;"><strong><font color="#003366">Date Requested</font></strong></td>
    <td style="text-align: center; height: 28px; font-size: 0.9rem; background: #e3e3e3; width: 50%;"><strong><font color="#003366">Date Required</font></strong></td>
    </tr>
    <tr>
    <th style="text-align: center; height: 28px; font-size: 0.85rem;">{{ request.Date_Requested }}</th>
    <th style="text-align: center; height: 28px; font-size: 0.85rem;">{{ request.Date_Required }}</th>
    </tr>

    <tr>
    <td colspan="2" style="text-align: center; height: 28px; font-size: 0.9rem; background: #e3e3e3;"><strong><font color="#003366">Description</font></strong></td>
    </tr>
    <tr>
    <th colspan="2" style="text-align: center; height: 28px; font-size: 0.85rem;">{{ request.Project_Description }}</th>
    </tr>
    
</tbody>
</table>
<p>
Sincerely, <br><br>
<b>Geospatial Services</b> <br>
GeoBC | Natural Resource Information & Digital Services<br>
</p>
<hr style="width:100%;text-align:left;margin-left:0">
    <p style="font-size:14px">
        <p style="text-align: left;">Submit a <a href="{{ request.CLIENT_REQUEST_URL }}" style="color: #fcba19; font-weight: bold;">new request</a> for Geospatial Services and one of our team members will contact you.</p>
        Please do not reply to this email.
    </p>
</div>